@import "tailwindcss";

/* GENERAL */

body {
  font-family: "Open Sans", serif;
}

.active {
  display: inline-block;
  color: rgb(252, 223, 80);
  background-color: #2e0707;
  transform: scale(1.2);
  transition: 0.4s ease-out;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: #290303;
}

::-webkit-scrollbar-thumb {
  background: #760b0b;
}

::-webkit-scrollbar-thumb:hover {
  background: #520b0b;
}

/* HEADER */

header {
  background-color: #600e0e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ms-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.625rem 0;
}

.ms-logo__container {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100px;
}

header li {
  transition: 0.4s;
}

header li:hover {
  background-color: #2e07078b;
  color: rgb(254, 239, 167);
  border-radius: 0.9375rem;
  transition: 0.4s;
}

/* MAIN */

.ms-card {
  transition: 0.4s;
}

.ms-card:hover {
  transition: 0.4s;
  transform: scale(1.04);
}

/* POSTS LIST */

.bg-posts-list {
  background-color: #290303;
  padding: 1.875rem 0;
}

/* SINGLE POST */

ol {
  list-style: decimal;
}

/* SECTION UNDER CONSTRUCTION */

.under-costruction__img {
  width: 31.25rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-self: center;
}

.under-costruction__btn {
  background-color: #600e0e;
  padding: 0.625rem 0.875rem;
  font-size: 1.25rem;
  border-radius: 0.9375rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-self: center;
  margin-top: 1.25rem;
  transition: 0.4s;
}

.under-costruction__btn:hover {
  background-color: #3d0b0b;
  color: rgb(254, 239, 167);
  border-radius: 0.9375rem;
  transform: scale(1.1);
  transition: 0.4s;
}

/* FOOTER */

footer {
  background-color: #600e0e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer hr {
  border: 1px solid white;
  margin: 1.25rem 0;
}

footer li {
  transition: 0.4s;
}

footer li:hover {
  transform: scale(1.3);
  transition: 0.4s;
}

.disable-btn {
  opacity: 0.5;
  cursor: default;
}

.disable-btn:hover {
  transform: scale(1);
  background-color: #600e0e;
  color: #fff;
}
