@import "tailwindcss";

/* GENERAL */

body {
  font-family: "Open Sans", serif;
}

.active {
  color: rgb(252, 223, 80);
  background-color: #2e0707;
}

/* HEADER */

header {
  background-color: #600e0e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1.875rem;
}

.ms-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.625rem 0;
}

.ms-logo__container {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100px;
}

/* MAIN */

/* POSTS LIST */

.bg-posts-list {
  background-color: #290303;
}

/* SECTION UNDER CONSTRUCTION */

.under-costruction__img {
  width: 31.25rem;
  margin-bottom: 1.875rem;
  display: flex;
  justify-self: center;
}

.under-costruction__btn {
  background-color: #600e0e;
  padding: 0.625rem 0.875rem;
  font-size: 1.25rem;
  border-radius: 0.9375rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-self: center;
  margin-top: 1.25rem;
}

/* FOOTER */

footer {
  background-color: #600e0e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 1.875rem;
}

footer hr {
  border: 1px solid white;
  margin: 1.25rem 0;
}
